In [268]:
import pandas as pd
import numpy as np
import random
import time
import datetime
import copy
import json

In [257]:
FASERIP = {"F":"Ty","A":"Ty","S":"Ty","E":"Ty","R":"Ty","I":"Ty","P":"Ty"}

dict_faserip={"Sh0":0,"Fb":2,"Pr":4,"Ty":6,"Gd":10,"Ex":20,"Rm":30,"In":40,"Am":50,"Mn":75,"Un":100,"ShX":150,"ShY":200,"ShZ":500,"Cl1000":1000,"Cl3000":3000,"Cl5000":5000,"Beyond":1000000000}

faserip_index={"Sh0":0,"Fb":1,"Pr":2,"Ty":3,"Gd":4,"Ex":5,"Rm":6,"In":7,"Am":8,"Mn":9,"Un":10,"ShX":11,"ShY":12,"ShZ":13,"Cl1000":14,"Cl3000":15,"Cl5000":16,"Beyond":17}

def column_shift(rank, shift):
    rank_list = []
    for key in faserip_index.keys():
        rank_list.append(key)
    rank_index = faserip_index[rank]
    new_index = rank_index + shift
    if new_index < 0: #lowest is zero
        new_index = 0
    if new_index > 13: #keep under cosmic
        new_index = 13

    return rank_list[new_index] #give back adjusted rank


def random_FASERIP():
    ability_roll = random.randint(0,6)
    ability_choice = list(FASERIP.keys())[ability_roll]
    return ability_choice

In [344]:
upbpowerlist.to_csv('dfPower_List.csv', index=False)
upbtalentlist.to_csv('dfTalent_List.csv', index=False)
upbcontactcategories.to_csv('dfContact_List.csv', index=False)

dfUPB = copy.deepcopy(upbformstable)
dfUPB['powers_min'] = upbnoofpowerstable['powers_min']
dfUPB['powers_min'] = upbnoofpowerstable['powers_max']
dfUPB['power_category'] = upbpowercategories['category']
dfUPB['talents_min'] = upbnooftalentstable['talents_min']
dfUPB['talents_max'] = upbnooftalentstable['talents_max']
dfUPB['talent_category'] = upbtalentcategories['category']
dfUPB['contacts_min'] = upbnoofcontactstable['contacts_min']
dfUPB['contacts_max'] = upbnoofcontactstable['contacts_max']

for col in column_roll.columns:
    dfUPB[col] = column_roll[col]
       
dfUPB.to_csv('dfUPB.csv')    
dfUPB

,roll,form,powers_min,power_category,talents_min,talents_max,talent_category,contacts_min,contacts_max,Roll,...,AMT,F,A,S,E,R,I,P,Res,Pop
0,1,Normal human,16,17000,6,8,18000,6,6,1,...,-1,0,0,0,0,0,0,0,1,0
1,2,Normal human,3,1000,0,3,1000,0,2,2,...,-1,0,0,0,0,0,0,0,1,0
2,3,Normal human,3,1000,0,3,1000,0,2,3,...,-1,0,0,0,0,0,0,0,1,0
3,4,Normal human,3,1000,0,3,1000,0,2,4,...,-1,0,0,0,0,0,0,0,1,0
4,5,Normal human,3,1000,0,3,1000,0,2,5,...,-1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Energy,12,17000,4,8,18000,4,5,96,...,4,0,0,0,0,0,0,0,0,0
96,97,Ethereal,12,17000,4,8,18000,4,5,97,...,4,0,0,0,0,0,0,0,0,0
97,98,Undead,12,17000,4,8,18000,4,5,98,...,4,0,0,0,0,0,0,0,0,0
98,99,Mutant - Breed,14,17000,5,6,18000,5,5,99,...,4,0,0,0,0,0,0,0,0,0
99,0,Mutant - Breed,14,17000,5,6,18000,5,5,0,...,4,0,0,0,0,0,0,0,0,0

In [330]:
upbformstable = pd.read_csv('upbformstable.txt',sep='\t', skiprows=1, header=None, names=['roll','form'])
#upbformstable

In [11]:
upb_form = upbformstable['form'].sample()
upb_form

38    Android
Name: form, dtype: object

In [331]:
upbnooftalentstable = pd.read_csv('upbnooftalents.txt',sep='\t', skiprows=1, header=None, names=['roll','talents_min','talents_max'])
#upbnooftalentstable

In [332]:
upbnoofcontactstable = pd.read_csv('upbnoofcontacts.txt',sep='\t', skiprows=1, header=None, names=['roll','contacts_min','contacts_max'])
#upbnoofcontactstable

In [333]:
upbnoofpowerstable = pd.read_csv('upbnoofpowers.txt',sep='\t', skiprows=1, header=None, names=['roll','powers_min','powers_max'])
#upbnoofpowerstable

In [16]:
upb_powers = upbnoofpowerstable.sample()
upb_powers

    roll  powers_min  powers_max
28    28           3           5

In [198]:
upb_talents = upbnooftalentstable.sample()
upb_talents

    roll  talents_min  talents_max
64    64            2            6

In [199]:
upb_contacts = upbnoofcontactstable.sample()
upb_contacts

    roll  contacts_min  contacts_max
90    90             4             4

In [90]:
upbpowercategories = pd.read_csv('upbpowercategories.txt',sep='\s+', header=None, names=['roll','category'] )
upbpowercategories

    roll  category
0      0     17000
1      1      1000
2      2      1000
3      3      1000
4      4      1000
..   ...       ...
95    95     17000
96    96     17000
97    97     17000
98    98     17000
99    99     17000

[100 rows x 2 columns]

In [91]:
upbpowerlist = pd.read_csv('upbpowerlist.txt', names=['test'], header=None,engine="python")
upbpowerlist

                         test
0         1001 1 0 Body Armor
1         1002 1 0 Body Armor
2         1003 1 0 Body Armor
3         1004 1 0 Body Armor
4         1005 1 0 Body Armor
...                       ...
1695  17096 1 0 Water Walking
1696  17097 1 0 Water Walking
1697      17098 1 0 Whirlwind
1698      17099 1 0 Whirlwind
1699      17000 1 0 Whirlwind

[1700 rows x 1 columns]

In [92]:
upbpowerlist[['roll','c','z','power']] = upbpowerlist["test"].str.split(" ", 3, expand=True)

upbpowerlist[['roll']] = upbpowerlist[['roll']].astype('int')
upbpowerlist[['c']] = upbpowerlist[['c']].astype('int')
upbpowerlist[['z']] = upbpowerlist[['z']].astype('int')

upbpowerlist.head(32)

                                test  roll  c  z                    power
0                1001 1 0 Body Armor  1001  1  0               Body Armor
1                1002 1 0 Body Armor  1002  1  0               Body Armor
2                1003 1 0 Body Armor  1003  1  0               Body Armor
3                1004 1 0 Body Armor  1004  1  0               Body Armor
4                1005 1 0 Body Armor  1005  1  0               Body Armor
5                1006 1 0 Body Armor  1006  1  0               Body Armor
6                1007 1 0 Body Armor  1007  1  0               Body Armor
7                1008 1 0 Body Armor  1008  1  0               Body Armor
8                1009 1 0 Body Armor  1009  1  0               Body Armor
9                1010 1 0 Body Armor  1010  1  0               Body Armor
10               1011 1 0 Body Armor  1011  1  0               Body Armor
11               1012 1 0 Body Armor  1012  1  0               Body Armor
12               1013 1 0 Body Armor  1013  1  0               Body Armor
13               1014 1 0 Body Armor  1014  1  0               Body Armor
14               1015 1 0 Body Armor  1015  1  0               Body Armor
15              1016 1 0 Force Field  1016  1  0              Force Field
16              1017 1 0 Force Field  1017  1  0              Force Field
17              1018 1 0 Force Field  1018  1  0              Force Field
18              1019 1 0 Force Field  1019  1  0              Force Field
19              1020 1 0 Force Field  1020  1  0              Force Field
20  1021 1 0 Force Field vs. Emotion  1021  1  0  Force Field vs. Emotion
21  1022 1 0 Force Field vs. Emotion  1022  1  0  Force Field vs. Emotion
22  1023 1 0 Force Field vs. Emotion  1023  1  0  Force Field vs. Emotion
23   1024 1 0 Force Field vs. Energy  1024  1  0   Force Field vs. Energy
24   1025 1 0 Force Field vs. Energy  1025  1  0   Force Field vs. Energy
25   1026 1 0 Force Field vs. Energy  1026  1  0   Force Field vs. Energy
26   1027 1 0 Force Field vs. Energy  1027  1  0   Force Field vs. Energy
27   1028 1 0 Force Field vs. Energy  1028  1  0   Force Field vs. Energy
28   1029 1 0 Force Field vs. Energy  1029  1  0   Force Field vs. Energy
29   1030 1 0 Force Field vs. Energy  1030  1  0   Force Field vs. Energy
30    1031 1 0 Force Field vs. Magic  1031  1  0    Force Field vs. Magic
31    1032 1 0 Force Field vs. Magic  1032  1  0    Force Field vs. Magic

In [76]:
#get the list where >= the number and <= number + 1000
power_categories = []
powers_list = []

for p in range(upb_powers['powers_min'].values[0]):
#upb_upbpowercategories = upbpowercategories.sample()  #need one for each power
#upbpowercategories
    print(p)
    c = upbpowercategories.sample()
    power_categories.append(c['category'].values[0])
    #power_subset = upbpowerlist.loc[(upbpowerlist['roll'] >= c['category'].values[0])]        
    power_subset = upbpowerlist.loc[(upbpowerlist['roll'] >= c['category'].values[0]) & (upbpowerlist['roll'] < (c['category'].values[0] + 1000))]    
    #print(power_subset.shape)
    powers_list.append(power_subset.sample())

0
1
2

In [77]:
print(power_categories)
print(powers_list)

[1000, 10000, 13000]
[                  test  roll  c  z       power
5  1006 1 0 Body Armor  1006  1  0  Body Armor,                           test   roll  c  z            power
940  10041 2 0 Disintegration*  10041  2  0  Disintegration*,                           test   roll  c  z           power
1253  13054 1 0 Hyper-Strength  13054  1  0  Hyper-Strength]

In [202]:
upbtalentcategories = pd.read_csv('utbtalentcategories.txt',sep='\s+', header=None, names=['roll','category'] )
upbtalentcategories

    roll  category
0      0     18000
1      1      1000
2      2      1000
3      3      1000
4      4      1000
..   ...       ...
95    95     18000
96    96     18000
97    97     18000
98    98     18000
99    99     18000

[100 rows x 2 columns]

In [204]:
upbtalentlist = pd.read_csv('utbtalentlist.txt', names=['test'], header=None,engine="python")
upbtalentlist

                             test
0            1001 1 Alien Studies
1            1002 1 Alien Studies
2            1003 1 Alien Studies
3            1004 1 Alien Studies
4            1005 1 Alien Studies
...                           ...
1795  18096 2 Weapons Specialist*
1796  18097 2 Weapons Specialist*
1797  18098 2 Weapons Specialist*
1798  18099 2 Weapons Specialist*
1799  18000 2 Weapons Specialist*

[1800 rows x 1 columns]

In [206]:
upbtalentlist[['roll','c','talent']] = upbtalentlist["test"].str.split(" ", 2, expand=True)

upbtalentlist[['roll']] = upbtalentlist[['roll']].astype('int')
upbtalentlist[['c']] = upbtalentlist[['c']].astype('int')

upbtalentlist.head(1)

                   test  roll  c         talent
0  1001 1 Alien Studies  1001  1  Alien Studies

In [207]:
#get the list where >= the number and <= number + 1000
talent_categories = []
talent_list = []

for p in range(upb_talents['talents_min'].values[0]):
#upb_upbpowercategories = upbpowercategories.sample()  #need one for each power
#upbpowercategories
    print(p)
    c = upbtalentcategories.sample()
    talent_categories.append(c['category'].values[0])
    talent_subset = upbtalentlist.loc[(upbtalentlist['roll'] >= c['category'].values[0]) & (upbtalentlist['roll'] < (c['category'].values[0] + 1000))]    
    #print(power_subset.shape)
    talent_list.append(talent_subset.sample())

0
1

In [209]:
upbcontactcategories = pd.read_csv('contactsdropdownlist.txt', names=['contact'], header=None,engine="python")
upbcontactcategories

                    contact
0                  Medicine
1                       Law
2           Law-Enforcement
3                  Military
4             BusinessWorld
5                Journalism
6                     Crime
7               Engineering
8                Psychiatry
9       Detective/Espionage
10                     Hero
11                    Group
12         Artist/Performer
13                Chemistry
14                  Biology
15                  Geology
16                 Genetics
17               Archeology
18                  Physics
19                Computers
20              Electronics
21          Political-Local
22          Political-State
23       Political-National
24          Political-Other
25  Political-International
26      Political-Planetary
27                 Religion
28              Occult Lore
29                Mythology

In [214]:
contact_list = []

for p in range(upb_contacts['contacts_min'].values[0]):
    print(p)
    c = upbcontactcategories.sample()
    contact_list.append(str(c.values[0][0]))
    
contact_list

0
1
2
3

['Law', 'Journalism', 'Military', 'Electronics']

In [179]:
column_roll = pd.read_csv('formabilitycolumns.csv')
column_use = column_roll.loc[column_roll['Type'] == upb_form.values[0]]['Column'].values[0]
print(column_roll.head(1))
column_use

   Roll          Type  Column   1   2   3   4   5  AMT  F  A  S  E  R  I  P  \
0     1  Normal human       2  Fb  Fb  Fb  Fb  Fb   -1  0  0  0  0  0  0  0

   Res  Pop
0    1    0

4

In [98]:
#want to test the forms
for ability in FASERIP.keys():
    FASERIP[ability] = column_roll[str(column_use)].sample().values[0]
    
FASERIP

{'F': 'Am', 'A': 'In', 'S': 'Pr', 'E': 'Gd', 'R': 'Ex', 'I': 'Rm', 'P': 'Gd'}

In [101]:
all_forms = upbformstable['form'].unique()

In [102]:
all_forms

array(['Normal human', 'Mutant - Induced', 'Mutant - Random',
       'Mutant - Breed', 'Android', 'Humanoid Race', 'Surgical Composite',
       'Modified Human - Organic', 'Modified Human - Muscular',
       'Modified Human - Skeletal', 'Modified Human - Extra Parts',
       'Demihuman - Centaur', 'Demihuman - Equiman', 'Demihuman - Faun',
       'Demihuman - Felinoid', 'Demihuman - Lupinoid',
       'Demihuman - Avian', 'Demihuman - Chiropteran',
       'Demihuman - Lamian', 'Demihuman - Merhuman', 'Demihuman - Harpy',
       'Cyborg - Artificial limbs/organs', 'Cyborg - Exoskeletons',
       'Cyborg - Mechanical Body', 'Cyborg - Mechanically Augmented',
       'Robot - Human Shape', 'Robot - Usuform', 'Robot - Metamorphic',
       'Robot - Computer', 'Angel/Demon', 'Deity', 'Animal', 'Vegetable',
       'Abnormal Chemistry', 'Mineral', 'Gaseous', 'Liquid', 'Energy',
       'Ethereal', 'Undead'], dtype=object)

In [247]:
FASERIP_adjust = {}
FASERIP_adjust['Name'] = ""   
FASERIP_adjust['Identity'] = ""   
FASERIP_adjust['Form'] = "Normal Human"   
FASERIP_adjust['Alignment'] = ""   #for simulations some random string for a freeforall
FASERIP_adjust['Type'] = ""   
FASERIP_adjust['Size'] = ""   
for ability in FASERIP.keys():
    FASERIP_adjust[ability] = 0
FASERIP_adjust['H'] = 1   
FASERIP_adjust['K'] = 1   
FASERIP_adjust['Res'] = 0   
FASERIP_adjust['Pop'] = 0
FASERIP_adjust['Powers'] = 0  #becomes a list of stuff eventually - or dictionary?
FASERIP_adjust['Talents'] = 0  #becomes a list of stuff eventually - or dictionary?
FASERIP_adjust['Contacts'] = 0  #becomes a list of stuff eventually - or dictionary?
FASERIP_adjust['Weaknesses'] = {}
FASERIP_adjust['Powers_Form'] = {}
FASERIP_adjust['Spd'] = 0
FASERIP_adjust['Att'] = 0
FASERIP_adjust['Dam'] = 0
FASERIP_adjust['Climbing'] = 0
FASERIP_adjust['Escaping'] = 0

FASERIP_adjust

{'Name': '',
 'Identity': '',
 'Form': 'Normal Human',
 'Alignment': '',
 'Type': '',
 'Size': '',
 'F': 0,
 'A': 0,
 'S': 0,
 'E': 0,
 'R': 0,
 'I': 0,
 'P': 0,
 'H': 1,
 'K': 1,
 'Res': 0,
 'Pop': 0,
 'Powers': 0,
 'Talents': 0,
 'Contacts': 0,
 'Weaknesses': {},
 'Powers_Form': {},
 'Spd': 0,
 'Att': 0,
 'Dam': 0,
 'Climbing': 0,
 'Escaping': 0}

In [248]:
all_forms_FASERIP = {}
for form in all_forms:
    all_forms_FASERIP[form] = copy.deepcopy(FASERIP_adjust)
    
all_forms_FASERIP[all_forms[0]]

{'Name': '',
 'Identity': '',
 'Form': 'Normal Human',
 'Alignment': '',
 'Type': '',
 'Size': '',
 'F': 0,
 'A': 0,
 'S': 0,
 'E': 0,
 'R': 0,
 'I': 0,
 'P': 0,
 'H': 1,
 'K': 1,
 'Res': 0,
 'Pop': 0,
 'Powers': 0,
 'Talents': 0,
 'Contacts': 0,
 'Weaknesses': {},
 'Powers_Form': {},
 'Spd': 0,
 'Att': 0,
 'Dam': 0,
 'Climbing': 0,
 'Escaping': 0}

In [249]:
ability_choice = str(random_FASERIP())  #this in each random character run

##adjustments
form = 'Normal human'
all_forms_FASERIP[form]['Res'] = 1

form = 'Mutant - Induced'
all_forms_FASERIP[form] = copy.deepcopy(FASERIP_adjust)
all_forms_FASERIP[form][ability_choice] = 1
all_forms_FASERIP[form]
form = 'Mutant - Random'
all_forms_FASERIP[form]['E'] = 1
all_forms_FASERIP[form]['Res'] = -1
all_forms_FASERIP[form]['Powers'] = 1
all_forms_FASERIP[form]
form = 'Mutant - Breed'
all_forms_FASERIP[form]['E'] = 1
all_forms_FASERIP[form]['I'] = 1
all_forms_FASERIP[form]['Contacts'] = 1

form = 'Android'
all_forms_FASERIP[form] = copy.deepcopy(FASERIP_adjust)
all_forms_FASERIP[form][ability_choice] = 1
all_forms_FASERIP[form]['Pop'] = -1
all_forms_FASERIP[form]['Powers'] = 1
all_forms_FASERIP[form]['Contacts'] = 1

form = 'Humanoid Race'
all_forms_FASERIP[form] = copy.deepcopy(FASERIP_adjust)
all_forms_FASERIP[form][ability_choice] = 1
all_forms_FASERIP[form]['Contacts'] = 1
all_forms_FASERIP[form]['Powers'] = 1
all_forms_FASERIP[form]['Res'] = {'Max':'Pr'}

form = 'Surgical Composite'
all_forms_FASERIP[form]['F'] = 1
all_forms_FASERIP[form]['S'] = 1
all_forms_FASERIP[form]['E'] = 1
all_forms_FASERIP[form]['Contacts'] = 1
all_forms_FASERIP[form]['Res'] = {'Max':'Pr'}
all_forms_FASERIP[form]['Pop'] = {'Max':'Sh0'}
all_forms_FASERIP[form]['Pop'] = {'Max':'Sh0'}
all_forms_FASERIP[form]['Powers_Form'] = {"Regeneration":"Fb"}
all_forms_FASERIP[form]['Weaknesses'] = {"Resist Mental Domination":-1}
all_forms_FASERIP[form]

form = 'Modified Human - Organic'
all_forms_FASERIP[form]['Powers_Form'] = {"Regeneration":"Fb"}

form = 'Modified Human - Muscular'
all_forms_FASERIP[form]['S'] = 1
all_forms_FASERIP[form]['E'] = 1
all_forms_FASERIP[form]['Powers'] = -1

form = 'Modified Human - Skeletal'
all_forms_FASERIP[form]['Powers'] = -1
all_forms_FASERIP[form]['Powers_Form'] = {"Resist: Physical":"Fb"}

form = 'Modified Human - Extra Parts'
#needs a list of Extra Parts to gain abilitiies from
extra_parts = ['Arms','Tail','Wings','Fins','Antennae','Duplicate Organs']  #add powers from here
random_index = random.randrange(len(extra_parts))
extra_part = extra_parts[random_index]
all_forms_FASERIP[form]['Powers'] = -1
if extra_part == extra_parts[0]:
    all_forms_FASERIP[form]['F'] = 1
elif extra_part == extra_parts[1]:
    all_forms_FASERIP[form]['Att'] = 1
elif extra_part == extra_parts[2]:
    all_forms_FASERIP[form]['Powers_Form'] = {"True Flight":0}
elif extra_part == extra_parts[3]:
    all_forms_FASERIP[form]['Powers_Form'] = {"Hyper-Swimming":0}
elif extra_part == extra_parts[3]:
    all_forms_FASERIP[form]['Powers_Form'] = {"True Sight":0}
else:
    all_forms_FASERIP[form]['H'] = 2
#print(all_forms_FASERIP[form])

form = 'Demihuman - Centaur'
all_forms_FASERIP[form]['S'] = 1
all_forms_FASERIP[form]['Climbing'] = -2

form = 'Demihuman - Equiman'
all_forms_FASERIP[form]['Dam'] = 1

form = 'Demihuman - Faun'
all_forms_FASERIP[form]['Dam'] = 1
all_forms_FASERIP[form]['Powers_Form'] = {"Domination":"Fb"}

form = 'Demihuman - Felinoid'
all_forms_FASERIP[form]['Powers_Form'] = {"Natural Weaponry":"S","Thermal Vision":"R"}

form = 'Demihuman - Felinoid'
all_forms_FASERIP[form]['Powers_Form'] = {"Natural Weaponry":"S","Thermal Vision":"Ex"}
all_forms_FASERIP[form]['Climbing'] = 2

form = 'Demihuman - Lupinoid'
all_forms_FASERIP[form]['Pop'] = -1
all_forms_FASERIP[form]['Powers_Form'] = {"Hyper-Olfactory":"Ex"}
all_forms_FASERIP[form]['Climbing'] = 2

form = 'Demihuman - Avian'
all_forms_FASERIP[form]['Pop'] = 1
all_forms_FASERIP[form]['Powers_Form'] = {"True Flight":"Ex"}

form = 'Demihuman - Chiropteran'
all_forms_FASERIP[form]['Pop'] = {'Max':'Fb'}
all_forms_FASERIP[form]['Powers_Form'] = {"Sonar":"Gd","True Flight":"Ty"}

form = 'Demihuman - Lamian'
all_forms_FASERIP[form]['Pop'] = {'Max':'Sh0'}
all_forms_FASERIP[form]['Escaping'] = 1
all_forms_FASERIP[form]

form = 'Demihuman - Merhuman'
all_forms_FASERIP[form]['Pop'] = 1
all_forms_FASERIP[form]['Powers_Form'] = {"Water Freedom":"Un"}

form = 'Demihuman - Harpy'
all_forms_FASERIP[form]['F'] = 1
all_forms_FASERIP[form]['Powers_Form'] = {"True Flight":"Ty"}

form = 'Cyborg - Artificial limbs/organs'
all_forms_FASERIP[form]['I'] = -1

form = 'Cyborg - Exoskeletons'
#got to roll on Ability modifier table for each of these
all_forms_FASERIP[form] = copy.deepcopy(FASERIP_adjust)
for ability in FASERIP.keys():
    #print(all_forms_FASERIP[form][ability])
    #print(column_roll['AMT'].sample().values[0])
    all_forms_FASERIP[form][ability] = column_roll['AMT'].sample().values[0]
#print(all_forms_FASERIP[form])
   
form = 'Cyborg - Mechanical Body'
all_forms_FASERIP[form]['I'] = -1
all_forms_FASERIP[form]['P'] = -1
all_forms_FASERIP[form]['Contacts'] = 1
all_forms_FASERIP[form]['Powers_Form'] = {"Resist: Poison":"Mn","Resist: Disease":"Mn"}

form = 'Cyborg - Mechanically Augmented'
all_forms_FASERIP[form]['Powers'] = -1
all_forms_FASERIP[form]['Res'] = {'Min':'Gd'}

form = 'Robot - Human Shape' 
all_forms_FASERIP[form]['Pop'] = {'Max':'Sh0'}

form = 'Robot - Usuform'
##no changes

form = 'Robot - Metamorphic'
##no changes #two forms, human and robot - for simulation -1CS - add this in the compund bucket

form = 'Robot - Computer'
all_forms_FASERIP[form]['F'] = -1
all_forms_FASERIP[form]['R'] = 2
all_forms_FASERIP[form]['Res'] = 1
all_forms_FASERIP[form]['Weaknesses'] = {"Resist: Electricty":-1,"Resist: Magnetism":-1,"Resist: Phasing":-1}

form = 'Angel/Demon' 
side = random.randint(1,2)
all_forms_FASERIP[form]['F'] = 1
all_forms_FASERIP[form]['A'] = 1
all_forms_FASERIP[form]['S'] = 1
all_forms_FASERIP[form]['E'] = 1
all_forms_FASERIP[form]['R'] = 1
all_forms_FASERIP[form]['I'] = 1
all_forms_FASERIP[form]['P'] = 1
if side == 1:
    all_forms_FASERIP[form]['Pop'] = 2
    all_forms_FASERIP[form]['Powers_Form'] = {"Artifact Creation-sword":"Ex"}
else:
    all_forms_FASERIP[form]['Pop'] = -2
    all_forms_FASERIP[form]['Powers_Form'] = {"Fire Generation":"Gd", "True Invulnerability: Heat":"Cl1000", "True Invulnerability: Fire":"Cl1000"}

form = 'Deity'
all_forms_FASERIP[form]['F'] = 2
all_forms_FASERIP[form]['A'] = 2
all_forms_FASERIP[form]['S'] = 2
all_forms_FASERIP[form]['E'] = 2
all_forms_FASERIP[form]['R'] = 2
all_forms_FASERIP[form]['I'] = 2
all_forms_FASERIP[form]['P'] = 2
all_forms_FASERIP[form]['Pop'] = 2

form = 'Animal' 
all_forms_FASERIP[form]['Res'] = {'Max':'Sh0'}
all_forms_FASERIP[form]['Powers'] = -1
all_forms_FASERIP[form]['Powers_Form'] = {"Hyper-Hearing":"Gd", "Tracking":"Gd"}  #as examples, need a bunch of forms again

form = 'Vegetable'
all_forms_FASERIP[form]['F'] = -2
all_forms_FASERIP[form]['E'] = 2
all_forms_FASERIP[form]['Contacts'] = 1
all_forms_FASERIP[form]['Powers_Form'] = {"Absorption:Light":"Gd"}

form = 'Abnormal Chemistry' 
all_forms_FASERIP[form]['E'] = 1

form = 'Mineral'
all_forms_FASERIP[form]['H'] = 2
all_forms_FASERIP[form]['Spd'] = -1

form = 'Gaseous' 
all_forms_FASERIP[form]['F'] = {'Max':'Sh0'}
all_forms_FASERIP[form]['Res'] = {'Max':'Sh0'}
all_forms_FASERIP[form]['Contacts'] = {'Max':'Sh0'}
all_forms_FASERIP[form]['Powers_Form'] = {"Resist:Physical":"Mn"}

form = 'Liquid'
all_forms_FASERIP[form]['Contacts'] = 1

form = 'Energy'
all_forms_FASERIP[form]['Powers_Form'] = {"Energy Field":"Fb", "Energy Emission":0, "Optional:Energy Control":0}
all_forms_FASERIP[form]['Weakness'] = {"Plasma Control":-1}

form = 'Ethereal'
all_forms_FASERIP[form]['F'] = {'Max':'Sh0'}
all_forms_FASERIP[form]['Powers_Form'] = {"Resist:Physical":"Mn"}
all_forms_FASERIP[form]['Weakness'] = {"Resist:Mental":-1,"Resist:Magical":-1}

form = 'Undead'
all_forms_FASERIP[form]['S'] = 1
all_forms_FASERIP[form]['E'] = 1
all_forms_FASERIP[form]['Weakness'] = {"Holy:Symbol":"Ex"}

all_forms_FASERIP[form]

{'Name': '',
 'Identity': '',
 'Form': 'Normal Human',
 'Alignment': '',
 'Type': '',
 'Size': '',
 'F': 0,
 'A': 0,
 'S': 1,
 'E': 1,
 'R': 0,
 'I': 0,
 'P': 0,
 'H': 1,
 'K': 1,
 'Res': 0,
 'Pop': 0,
 'Powers': 0,
 'Talents': 0,
 'Contacts': 0,
 'Weaknesses': {},
 'Powers_Form': {},
 'Spd': 0,
 'Att': 0,
 'Dam': 0,
 'Climbing': 0,
 'Escaping': 0,
 'Weakness': {'Holy:Symbol': 'Ex'}}

In [250]:
#### need to do modifications here
#character needs a powers list, a contacts list, a talents list - with types perhaps as a lookup
#also need to eventually get a beastiaryFASERIP style output
#alignment - need a random name generator? otherwise some sort of id linking to sheet
#subsume all these into beastiaryFASERIP?
#check for extra powers
#check for extra contacts
print(upb_form.values[0])
adjustments = all_forms_FASERIP[upb_form.values[0]]
adjustments

Android

{'Name': '',
 'Identity': '',
 'Form': 'Normal Human',
 'Alignment': '',
 'Type': '',
 'Size': '',
 'F': 0,
 'A': 0,
 'S': 0,
 'E': 1,
 'R': 0,
 'I': 0,
 'P': 0,
 'H': 1,
 'K': 1,
 'Res': 0,
 'Pop': -1,
 'Powers': 1,
 'Talents': 0,
 'Contacts': 1,
 'Weaknesses': {},
 'Powers_Form': {},
 'Spd': 0,
 'Att': 0,
 'Dam': 0,
 'Climbing': 0,
 'Escaping': 0}

In [262]:
#generate FASERIP
character = copy.deepcopy(adjustments)
character['Form'] = str(upb_form.values[0])

for ability in FASERIP.keys():
    character[ability] = column_roll[str(column_use)].sample().values[0]
    #print(character[ability])
    if type(adjustments[ability]) == int:
        character[ability] = column_shift(character[ability], adjustments[ability])
        #print(character[ability])
    else:
        #dict of max min eg Fighting of ghosts - only ability modified like that so 
        character[ability] = "Sh0"
        
character['Res'] = "Ty"
resource_adj = column_roll['AMT'].sample().values[0]
character['Pop'] = "Ty"

character['H'] = dict_faserip[character['F']] + dict_faserip[character['A']] + dict_faserip[character['S']] + dict_faserip[character['E']]
character['K'] = dict_faserip[character['R']] + dict_faserip[character['I']] + dict_faserip[character['P']]
character['H'] = character['H'] * adjustments['H'] 

if type(adjustments['Res']) == int:
    character['Res'] = column_shift(character['Res'], adjustments['Res'] + resource_adj)
else:
    pass #dict with max and minimum
    faserip_index={"Sh0":0,"Fb":1,"Pr":2,"Ty":3,"Gd":4,"Ex":5,"Rm":6,"In":7,"Am":8,"Mn":9,"Un":10,"ShX":11,"ShY":12,"ShZ":13,"Cl1000":14,"Cl3000":15,"Cl5000":16,"Beyond":17}
    for key in character['Res'].keys():
        if key == "Max":
            curindex = faserip_index[character['Res']]
            checkindex = faserip_index[adjustments['Max']]
            if checkindex > curindex:
                character['Res'] = faserip_index[adjustments['Max']]
        else: #Min version
            curindex = faserip_index[character['Res']]
            checkindex = faserip_index[adjustments['Min']]
            if checkindex < curindex:
                character['Res'] = faserip_index[adjustments['Min']]
                                                 

if type(adjustments['Pop']) == int:
    character['Pop'] = column_shift(character['Pop'], adjustments['Pop'] + resource_adj)
else:
    for key in character['Pop'].keys():
        if key == "Max":
            curindex = faserip_index[character['Pop']]
            checkindex = faserip_index[adjustments['Max']]
            if checkindex > curindex:
                character['Pop'] = faserip_index[adjustments['Max']]
        else: #Min version
            curindex = faserip_index[character['Pop']]
            checkindex = faserip_index[adjustments['Min']]
            if checkindex < curindex:
                character['Pop'] = faserip_index[adjustments['Min']]

talents = []
for talent in talent_list:
    talents.append(str(talent['talent'].values[0]))
character['Talents'] = talents

if type(adjustments['Contacts']) == int:
    if adjustments['Contacts'] == 1:
        character['Contacts'] = ['Inital Form Contact']
    else:
        contacts = []
        for contact in contact_list:
            contacts.append(str(contact['conctact'].values[0]))
        character['Contacts'] = conctacts
        
else:
    character['Contacts'] = []
    
##got to put in power adjustments from forms - also two power powers    

powers_adj = copy.deepcopy(powers_list)
if type(adjustments['Powers']) == int:
    if adjustments['Powers'] < 0:
        #character['Contacts'] = ['Inital Form Contact']
        for i in range(abs(adjustments['Powers'])):
            del powers_adj[-1]
    elif adjustments['Powers'] > 0:
        #roll more powers
        pass
    
        extra_power_categories = []
        extra_powers_list = []

        for p in range(adjustments['Powers']):
            #print(p)
            c = upbpowercategories.sample()
            extra_power_categories.append(c['category'].values[0])
            power_subset = upbpowerlist.loc[(upbpowerlist['roll'] >= c['category'].values[0]) & (upbpowerlist['roll'] < (c['category'].values[0] + 1000))]    
            #print(power_subset.shape)
            extra_powers_list.append(power_subset.sample())    
            
        powers_adj = powers_adj + extra_powers_list
    else:
        pass

powers = []
for power in powers_adj:
    #print(power)
    powers.append(str(power['power'].values[0]))

power_dict = {}
for power in powers:    
    ##generate a rank
    power_rank = column_roll[str(4)].sample().values[0]
    power_dict[power] = power_rank

if not character['Powers_Form']:
    pass
else:
    for pkey in character['Powers_Form']:
        power_dict[pkey] = character['Powers_Form'][pkey]
    
character['Powers'] = power_dict
                             
##need to add Powers_form into power_dict
character

{'Name': '',
 'Identity': '',
 'Form': 'Android',
 'Alignment': '',
 'Type': '',
 'Size': '',
 'F': 'Gd',
 'A': 'Am',
 'S': 'Gd',
 'E': 'Am',
 'R': 'In',
 'I': 'Gd',
 'P': 'In',
 'H': 120,
 'K': 90,
 'Res': 'Gd',
 'Pop': 'Ty',
 'Powers': {'Body Armor': 'Ty',
  'Disintegration*': 'In',
  'Hyper-Strength': 'Ty',
  'Telepathy': 'Ex'},
 'Talents': ['Computer Engineering', 'Martial Arts C'],
 'Contacts': ['Inital Form Contact'],
 'Weaknesses': {},
 'Powers_Form': {},
 'Spd': 0,
 'Att': 0,
 'Dam': 0,
 'Climbing': 0,
 'Escaping': 0}

In [233]:
len(talent_list)
for x in talent_list:
    print(x)

                            test  roll  c                talent
638  7039 1 Computer Engineering  7039  1  Computer Engineering
                        test   roll  c          talent
1032  11033 1 Martial Arts C  11033  1  Martial Arts C

In [237]:
powers_list

[                  test  roll  c  z       power
 5  1006 1 0 Body Armor  1006  1  0  Body Armor,
                           test   roll  c  z            power
 940  10041 2 0 Disintegration*  10041  2  0  Disintegration*,
                           test   roll  c  z           power
 1253  13054 1 0 Hyper-Strength  13054  1  0  Hyper-Strength]

In [239]:
upb_form

38    Android
Name: form, dtype: object

SyntaxError: invalid syntax (Temp/ipykernel_27024/2064827838.py, line 1)

In [316]:
dateout = datetime.datetime.now()
dateout = dateout.strftime("%Y_%d_%d_%H_%M_%S_%f")[:-3]

In [317]:
print(date)
char_dir = r'J:\CLONE\FASERIP' + "\\"
with open(char_dir + dateout + '.json', 'w') as f:
    json.dump(character, f)

2022_01_01_18_46_48_352

In [322]:
df = pd.DataFrame([character])

In [323]:
df

,Name,Identity,Form,Alignment,Type,Size,F,A,S,E,...,Powers,Talents,Contacts,Weaknesses,Powers_Form,Spd,Att,Dam,Climbing,Escaping
0,,,Android,,,,Gd,Am,Gd,Am,...,"{'Body Armor': 'Ty', 'Disintegration*': 'In', ...","[Computer Engineering, Martial Arts C]",[Inital Form Contact],{},{},0,0,0,0,0

In [324]:
type(df.iloc[0]['Powers'])

dict

In [346]:
upbpowerlist.to_csv('dfPower_List.csv', index=False)
upbtalentlist.to_csv('dfTalent_List.csv', index=False)
upbcontactcategories.to_csv('dfContact_List.csv', index=False)

dfUPB = copy.deepcopy(upbformstable)
dfUPB['powers_min'] = upbnoofpowerstable['powers_min']
dfUPB['powers_min'] = upbnoofpowerstable['powers_max']
dfUPB['power_category'] = upbpowercategories['category']
dfUPB['talents_min'] = upbnooftalentstable['talents_min']
dfUPB['talents_max'] = upbnooftalentstable['talents_max']
dfUPB['talent_category'] = upbtalentcategories['category']
dfUPB['contacts_min'] = upbnoofcontactstable['contacts_min']
dfUPB['contacts_max'] = upbnoofcontactstable['contacts_max']

for col in column_roll.columns:
    dfUPB[col] = column_roll[col]
       
dfUPB.to_csv('dfUPB.csv', index=False)    
dfUPB

,roll,form,powers_min,power_category,talents_min,talents_max,talent_category,contacts_min,contacts_max,Roll,...,AMT,F,A,S,E,R,I,P,Res,Pop
0,1,Normal human,16,17000,6,8,18000,6,6,1,...,-1,0,0,0,0,0,0,0,1,0
1,2,Normal human,3,1000,0,3,1000,0,2,2,...,-1,0,0,0,0,0,0,0,1,0
2,3,Normal human,3,1000,0,3,1000,0,2,3,...,-1,0,0,0,0,0,0,0,1,0
3,4,Normal human,3,1000,0,3,1000,0,2,4,...,-1,0,0,0,0,0,0,0,1,0
4,5,Normal human,3,1000,0,3,1000,0,2,5,...,-1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Energy,12,17000,4,8,18000,4,5,96,...,4,0,0,0,0,0,0,0,0,0
96,97,Ethereal,12,17000,4,8,18000,4,5,97,...,4,0,0,0,0,0,0,0,0,0
97,98,Undead,12,17000,4,8,18000,4,5,98,...,4,0,0,0,0,0,0,0,0,0
98,99,Mutant - Breed,14,17000,5,6,18000,5,5,99,...,4,0,0,0,0,0,0,0,0,0
99,0,Mutant - Breed,14,17000,5,6,18000,5,5,0,...,4,0,0,0,0,0,0,0,0,0